<html>

<head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>

    <div class="container">
        <h1>{{file}}</h1>
        <hr>
        <div class="card">
            <div class="card-header">File Metadata</div>
            <div class="card-body">
                <h5 class="card-title">File Metadata</h5>
                <form class="row g-3 needs-validation" novalidate>
                    <div class="col-md-4">
                        <label for="csv_delimiter_value" class="form-label">Delimiter</label>
                        <input maxlength="1" type="text" class="form-control" id="csv_delimiter_value"
                            placeholder="Enter a delimiter..." required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" value="csv_file_type" type="radio"
                                name="file_type_radio_button" id="flexRadioDefault1" checked>
                            <label class="form-check-label" for="flexRadioDefault1">CSV File</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="sql_file_type" type="radio"
                                name="file_type_radio_button" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">SQL File</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button id="modify_metadata_button" class="btn btn-primary" type="button">Update</button>
                    </div>
                </form>
            </div>
            <div class="card">
                <div class="card-header">File Content</div>
                <div class="card-body" style="white-space: pre-line" id="content">
                </div>
            </div>
        </div>
    </div>
    <menu class="menu">
        <li class="menu-item">
            <ul id="contextMenu" class="dropdown-menu" role="menu"
                style="display: none">
                <li><a tabindex="-1" href="#">Action</a></li>
                <li><a tabindex="-1" href="#">Another action</a></li>
                <li><a tabindex="-1" href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" href="#">Separated link</a></li>
            </ul>
          <button id="row_delete_button" type="button" class="btn btn-danger menu-btn"> <i class="fa fa-trash"></i> <span class="menu-text">Delete</span></button>
        </li>
      </menu>
</body>
<script src="/static/js/storage.js"></script>
<script src="/static/js/requests.js"></script>
<script src="/static/js/helper.js"></script>
<script>
    var lastSelectedRow;
    var menu = document.querySelector('.menu');
    var row_delete_button = document.getElementById('row_delete_button');

    row_delete_button.addEventListener('click', function(event){
        var rows = document.querySelectorAll('.selected');
        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            row.parentNode.removeChild(row);
        };
    });

    function onContextMenu(e){
        e.preventDefault();
        menu.style.left = e.pageX + 'px';
        menu.style.top = e.pageY + 'px';
        menu.classList.add('show-menu');
        document.addEventListener('click', function(){
            menu.classList.remove('show-menu');
            document.removeEventListener('click', this);
        }, false);
    }  

    // disable text selection
    document.onselectstart = function () {
        return false;
    }

    function RowClick(trs, currenttr, lock) {
        if (window.event.ctrlKey) {
            toggleRow(currenttr);
        }

        if (window.event.button === 0) {
            if (!window.event.ctrlKey && !window.event.shiftKey) {
                clearAll(trs);
                toggleRow(currenttr);
            }

            if (window.event.shiftKey) {
                selectRowsBetweenIndexes(trs, [lastSelectedRow.rowIndex, currenttr.rowIndex])
            }
        }
    }

    function toggleRow(row) {
        if (row.classList.contains('selected')) {
            row.classList.remove('selected');
            row.removeEventListener('contextmenu', onContextMenu);
        } else {
            row.classList.add('selected');
            row.addEventListener('contextmenu', onContextMenu, false);
        }
        lastSelectedRow = row;
    }

    function selectRowsBetweenIndexes(trs, indexes) {
        indexes.sort(function (a, b) {
            return a - b;
        });

        for (var i = indexes[0]; i <= indexes[1]; i++) {
            trs[i].className = 'selected';
            trs[i].addEventListener('contextmenu', onContextMenu, false);
        }
    }

    function clearAll(trs) {
        for (var i = 0; i < trs.length; i++) {
            trs[i].className = '';
            trs[i].removeEventListener('contextmenu', onContextMenu);
        }
    }

    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        var storage = new Storage();
        populate_with_content("{{file}}", 0);

        // Fetch all the forms we want to apply custom Bootstrap validation styles to

        var submit = document.getElementById('modify_metadata_button');
        var csv_delimiter_value = document.getElementById('csv_delimiter_value')
        submit.addEventListener('click', function (event) {
            Array.prototype.slice.call(document.querySelectorAll('.needs-validation')).forEach(function (
                form) {
                const radioButtons = form.querySelectorAll('input[name="file_type_radio_button"]');
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation();
                } else {
                    var file_type = return_selected_radio_button(radioButtons);

                    storage.set_file_type(file_type);
                    storage.set_delimiter(csv_delimiter_value.value);

                    if (file_type === 'csv_file_type') {
                        var content = document.getElementById('content');
                        var buffer = content.innerHTML.split('\n');
                        var table = document.createElement('table');
                        table.classList.add('table');

                        var table_body = document.createElement('tbody');


                        var first_row_length = buffer[0].split(csv_delimiter_value.value);
                        for (var row = 0; row < buffer.length; row++) {

                            var table_row = document.createElement('tr');
                            var cols = buffer[row].split(csv_delimiter_value.value);

                            if (cols.length != first_row_length.length) {
                                console.warn("Row " + row +
                                    " has a different number of columns than the first row.");
                                continue;
                            }

                            for (var col = 0; col < cols.length; col++) {
                                var table_col = document.createElement('td');
                                table_col.innerHTML = cols[col];
                                table_row.appendChild(table_col);
                            }
                            table_body.appendChild(table_row);
                        }
                        content.innerHTML = '';

                        var table_rows = table_body.querySelectorAll('tr')
                        table_rows.forEach(function (tr) {
                            tr.onmousedown = function (event) {
                                RowClick(table_rows, this, false);
                            }
                        });

                        table.appendChild(table_body);
                        content.appendChild(table);
                    }
                }
                form.classList.add('was-validated')
            });
        });
    })()
</script>

</html>